@use "sass:color";

@font-face {
    font-family: "MyFont";
    src: url("../Amaranth-Regular.ttf") format("truetype");
}

$font-stack: 'MyFont';
$primary-color: #03624c;
$secondary-color: #00df82;
$primarydark-color: color.scale($primary-color, $lightness: -100%);

*{
    font-family: $font-stack;
}

.desktopmenu{
    ul{
        list-style-type: none;
    }
}

@mixin light-theme{
    header{
        background-color: $primary-color;
    }

    .menu-btn{
        background-color: $primary-color;
        border: 2px solid white;
    }

    .mobilemenu{
        background-color: $primary-color;  
    }

    .mobilemenu a{
        color: white; 
    }

    *{
        color: white;
    }

    .bars{
        background-color: white;
    }

    .menu-text{
        color: white; 
    }

    .desktopmenu a{
        color: white;
    }

    #indexarticle{
        background-color: $primary-color;
    }
}

@media (prefers-color-scheme: light) {
    @include light-theme;
}

@mixin dark-theme{
    header{
        background-color: $primarydark-color;
    }
    
    *{
        color: $secondary-color;
    }

    .bars{
        background-color: $secondary-color;
    }

    .menu-btn{   
        border: 2px solid $secondary-color;
        background-color: $primarydark-color;
    }

    .mobilemenu{
        background-color: $primarydark-color;  
    }

    .mobilemenu a{
        color: $secondary-color
    }

    .menu-text{
        color: $secondary-color; 
    }

    .desktopmenu a{
        color: $secondary-color;
    } 

    body{
        background-color: gray;
    }

    #indexarticle{
        background-color: $primarydark-color;
    }
}

@media (prefers-color-scheme: dark) {
    @include dark-theme;
}